* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.44rem;
  /* border-bottom: 1px black solid; */
}

.logo {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  color: #434343;
}

.lettuce {
  width: 1.2rem;
  height: 0.12rem;
  background-color: #434343;
  margin: 0.2rem 0;
}

.cheese {
  width: 1.2rem;
  height: 0.12rem;
  background-color: #434343;
  margin: 0.2rem 0;
}

.patty {
  width: 1.2rem;
  height: 0.12rem;
  background-color: #434343;
  margin: 0.2rem 0;
}
/*--------------*/

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.first-header {
  color: #434343;
  font-size: 1.875rem;
  line-height: 1.17em;
  margin: 1.55rem 0 1.55rem 0;
  width: 68%;
  font-weight: 500;
}

.text-wrapper {
  width: 70%;
}
.text {
  color: #8e8e8e;
  font-size: 0.75em;
  line-height: 2.167em;
  margin-bottom: 1.55rem;
}

.carousel-img {
  height: 188px;
  width: 84.6%;
  background-color: rgb(231, 231, 231);
  color: rgb(189, 189, 189);
  margin-bottom: 1.55rem;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.3rem;
}

.carousel-control {
  background-clip: content-box;
  box-sizing: content-box;
  border-bottom: none;
  -webkit-box-sizing: content-box;
  background-color: #b8b8b8;

  height: 1px;
  margin: 0 5px;
  padding: 15px 0;
  width: 30px;
}

.started-button {
  width: 12.81rem;
  height: 3.12rem;
  font-size: 0.75em;
  letter-spacing: 0.155em;
  color: white;
  background-color: #434343;
  margin-bottom: 1.2rem;
}

/* .spacing {
  margin-bottom;
} */

.stories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.second-header {
  color: #434343;
  font-size: 0.875em;
  line-height: 1.17em;
  letter-spacing: 0.2em;
  margin: 1.55rem 0 1.2rem 0;
  width: 61%;
  font-weight: 600;
}

.white-button {
  width: 12.81rem;
  height: 3.12rem;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  color: #434343;
  background-color: white;
  margin-bottom: 4.5rem;
  border: 1px solid #434343;
}

.last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5rem;
}

.blurb {
  color: #8e8e8e;
  font-size: 0.5em;
  line-height: 2.167em;
  margin-bottom: 1.55rem;
}

.third-header {
  color: #434343;
  font-size: 1em;
  line-height: 1.17em;
  letter-spacing: 0.2em;
  margin: 1.55rem 0 1.2rem 0;
  width: 100%;
  font-weight: 600;
}

.last-section .text {
  width: 80%;
  margin-bottom: 3.2em;
}

.last-section .white-button {
  margin-bottom: 1rem;
}
.learnMore {
  color: #434343;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  position: relative;
  font-weight: 500;
  margin-bottom: 4.3rem;
}

.learnMore::after {
  content: '';
  position: absolute;
  left: 4%;
  bottom: -59%;
  height: 1.4px;
  width: 6rem;
  background-color: #8e8e8e;
}

/*-----------------------------*/

.more-about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #434343;
  font-size: 0.8em;
  line-height: 1.17em;
  margin: 1.55rem 0 3.5rem 0;
  width: 100%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.more-about::before {
  content: '';
  position: absolute;
  top: -11%;
  height: 1.4px;
  width: 100vw;
  background-color: #e6e6e6;
}

.more-about div {
  font-size: 0.875em;
  letter-spacing: 0.2em;
  color: #434343;
  margin: 1.8rem 0 1.4rem 0;
  width: 90%;
  left: -0.5%;
  position: relative;
  font-weight: 700;
}

/* .more-about div::before {
  content: '';

} */

.more-about div::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: -172%;
  right: 0%;
  width: 99.87%;
  background-color: #e6e6e6;
}

/********************************************/

.footer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}
.logo {
  margin-bottom: 0.3rem;
}

.copyright {
  font-size: 0.5em;
  color: #8e8e8e;
}

.footer-links {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875em;
  color: #8e8e8e;
  margin-bottom: 3rem;
}
